/* Fonts Styles  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.inter-main-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
}


/* shared style */

* {
    margin: 0px;
    padding: 0px;
}

.display-flex {
    display: flex;

}

.center-align {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-primary {
    background-color: #E6533C;
    color: white;
    font-size: 1.43rem;
    padding: 8px 22px;
    border-radius: 42px;
    border: 0px;
}

.button-description {
    color: white;
    font-size: 1rem;
}

/* header styles  */
.header {
    max-width: 1920px;
    padding: 57px 247px;
    background-color: rgba(17, 17, 17, 1)
}

.header-title {
    font-size: 2.9rem;
    font-weight: 800;
    color: #E6533C;
}

/* navbar styles  */
.nav-container {
    display: flex;
    justify-content: space-between;

}

.nav-links ul {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px 4px;
}

.nav-links ul li {
    list-style: none;
    margin-right: 25px;
}

.nav-link {
    font-size: 1.4rem;
    color: white;
}

/* menu or hamburger display none for big screen  */
.breadcrumb-icon {
    display: none;
}

/* banner styles  */
.banner-container {
    justify-content: space-between;
}

.banner-title {
    font-size: 6.3rem;
    margin-bottom: 28px;
    color: white;
}

.banner-description {
    font-size: 1rem;
    color: white;
    margin-bottom: 28px;
}

.down-app-btn {
    padding: 8px 22px;
    font-size: 1.43rem;
    background-color: #111111;
    color: white;
    border: 0.2px solid white;
    border-radius: 42px;

}


/* image button design style  */

.banner-image-container {
    position: relative;
    /* display: inline-block; */
}

.banner-image img {
    max-width: 100%;
}

.video-tuotorial-number {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.video-number {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.video-tutorial,
.workout-videos {
    position: absolute;
    background-color: rgba(48, 48, 48, 0.64);
    border: 0px;
    border-radius: 12px;
    padding: 20px 23px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.video-tutorial {
    bottom: 70px;
    left: -90px;
}

.workout-videos {
    top: 120px;
    right: -90px;
}


/* main section styles  */
main {
    background-color: black;
}


/* habit-section-styles  */

.habit-container {
    margin-bottom: 50px;
}

.section-heading {
    font-size: 3.8rem;
    color: white;
    padding-top: 70px;
    margin-bottom: 10px;
}

.rule-description {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
}

.rule-title {
    font-size: 1.2rem;
    color: white;
}

.exercise-rules {
    margin-top: 75px;
}

.excercise-rules-container {
    max-width: 1388px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 10px;
}

.excercise-rule {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}


.excercise-rule img {
    border-radius: 50%;
}


/* run extra section styles  */
.run-extra {
    max-width: 1378px;
    margin: 0 auto;
    border-radius: 18px;
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: space-around;

    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    justify-content: space-around;
    align-items: center;

}

.run-image {

    width: 476px;
    height: 406px;
    margin: 30px;

}

/* team-members-design-styles  */

.team-title {
    margin-bottom: 50px;
}

.team-members-container {
    max-width: 1378px;
    margin: 0 auto;
    border-radius: 18px;
    background-color: rgba(34, 34, 34, 1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 60px;
}

.team-member {
    position: relative;
    width: 100%;
}

.team-member-name,
.team-member-role {
    color: white;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 10px;
}

.team-member-name {
    bottom: 40px;
    font-size: 1rem;
}

.team-member-role {
    bottom: 10px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.8);
}

.team-member-img {
    width: 100%;
    height: 250px;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.2);
}





/* media query  */

/* small device style  */

@media screen and (max-width:576px) {


    .header {
        margin: 0 auto;
        padding: 17px 27px;
        background-color: rgba(17, 17, 17, 1)
    }


    /* menu hamburger design  */

    .breadcumb {
        display: none;
    }


    .breadcrumb-icon {
        display: block;
        font-size: 24px;
    }



    .header-title {
        font-size: 0.9rem;
        font-weight: 800;
        color: #E6533C;
        padding-top: 5px;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-title {
        font-size: 1.3rem;
        margin-bottom: 18px;

    }

    .banner-description {
        font-size: 0.5rem;
        color: white;
        margin-bottom: 28px;
    }

    .down-app-btn {
        padding: 8px 22px;
        font-size: 0.43rem;
        background-color: #111111;
        color: white;
        border: 0.2px solid white;
        border-radius: 42px;

    }

    .btn-primary {
        background-color: #E6533C;
        color: white;
        font-size: 0.43rem;
        padding: 8px 22px;
        border-radius: 42px;
        border: 0px;
    }




    .video-tutorial {
        left: -20px;
    }

    .workout-videos {
        right: -10px;
    }

    .video-tuotorial-number {
        font-size: 1rem;
        font-weight: bold;
        color: white;
    }

    .video-number {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
    }

    .excercise-rules-container,
    .team-members-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }

    .section-heading {
        font-size: 2.5rem;
    }

    .rule-description {
        font-size: 0.8rem;
    }

    .rule-description {
        font-size: 0.6rem;
    }

    /* run extra section small device styles  */
    .run-extra {
        max-width: 90vw;
        flex-direction: column;
        text-align: center;
        /* justify-content: center;
        align-items: center; */
    }

    .run-image {

        width: 276px;
        height: 206px;
        margin: 30px;

    }

}